{% extends "inherit/base.html"%}

{% block content %}
{% load static %}
<!-- Wrapper -->
<div id="wrapper">

    <!-- Soft toys cleaning laundry heading-->
    <h2 style="text-align: center;">Soft toys Cleaning Service</h2>
    <!-- Main -->
    <div class="container">
        <div class="row">
            {% include "inherit/same_data.html"%}
            <div class="col-sm-12 col-md-6">
                <img src="{% static 'images/toys.jpg' %}" style="height: 360px; width: 360px;">
            </div>
            <div class="">
                <h4>Soft Toys Cleaning</h4>
                <p>Your children love soft toys. The soft, cute and cuddling teddy bears, dogs, cats, rabbits,
                    pandas and many others are the favorite of your son or daughter. <br> Though playing is easy as
                    an everyday enjoyment, you have a bigger responsibility to keep the soft toys neat and clean for
                    your kid to be able to hold it. <br> Cleanliness is part of soft toy handling. <br> Sometimes,
                    you would find it hard. <br> What would you do? <br> Think of Exel wash for soft toy cleaning.
                    <br> We have set a special soft toy deep cleaning service for soft toy lovers. <br> Our service
                    is absolutely safe and secure.
                </p>
                <h5>When you call us, we do soft cleaning service for your soft toy</h5>
                <ul>
                    <li>Deep cleaning</li>
                    <li>Bring a new look</li>
                    <li>Absolute hygiene</li>
                    <li>Choose home service or store service</li>
                    <li>Exel wash facilitates both at home service or dry cleaning at our store.</li>
                </ul>
                <h5>Why do soft toys need a safe cleaning?</h5>
                <p>From infancy to kindergarten, soft toys invite a lot of attention to love and care from children.
                    In fact, soft toys are their favorite even until school age. <br> With the make and manufacture
                    of various materials used in the decorations of these beautiful toys, cleaning becomes most
                    necessary. <br> However, at home, this is a huge task done by you. <br> Now Exel wash brings you
                    this brand new service with perfection. <br> Deep Cleaning Exel wash assigns a deep cleaning
                    service to your soft toys to remove dirt, dust, stains, odor or any other hygienic cleaning as
                    it is necessary. <br> As these are delicately done, they need a gentle handle. At Exel wash, our
                    experts either dry clean or give a foam wash to soft toys to get rid of the dirt and odor and
                    bring a new fresh new fragrance to it. <br> The Process Furry soft toys need a dry clean as a
                    simple wash may not make it thoroughly clean. Exel wash follows your guidelines and instructions
                    for dry cleaning. <br> The frequency of cleaning How often do you wash your soft toy? Well, some
                    get dusty within a month or sometimes you can give a wash after six months, <br> It depends on
                    the use and handling. <br> However, care and notice must be made to ensure proper health of your
                    child as interaction with toys also transfers bacteria. <br> At Exel wash, we recommend to have
                    it cleaned whenever you choose a bigger cleaning plans like - carpet cleaning, house vacuuming,
                    sofa cleaning, furniture repairs etc., <br> If you have infants at home, opt for a cleaning
                    service every two months. <br> Equipment used in soft toys cleaning service <br>
                </p>
                <h5>We use safe and protected equipment while cleaning soft toys.</h5>
                <ul>
                    <li>These include:</li>
                    <li>Foam generator machine</li>
                    <li>Wet vacuum cleaner</li>
                    <li>Steam machine</li>
                    <li>Anti-allergen shampoo</li>
                    <li>Medium and hard foaming brush</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}