<div class="col-md-6 col-sm-12">
    <ul class="actions fit">
        <li>
            <a href="{% url 'washing' %}" class="button  fit">Washing</a>
        </li>
        <li>
            <a href="{% url 'wash_fold' %}" class="button  fit">WASH & fold</a>
        </li>
    </ul>
    <ul class="actions fit">
        <li>
            <a href="{% url 'dry_cleaning' %}" class="button  fit">Dry Cleaning</a>
        </li>
        <li>
            <a href="{% url 'shoe_laundry' %}" class="button  fit">Shoe Laundry</a>
        </li>
    </ul>
    <ul class="actions fit">
        <li>
            <a href="{% url 'saree_rooling' %}" class="button  fit">Saree Rolling</a>
        </li>
        <li>
            <a href="{% url 'strain_removal' %}" class="button  fit">Stain Removal</a>
        </li>
    </ul>
    <ul class="actions fit">
        <li>
            <a href="{% url 'steam_ironing' %}" class="button fit">Steam Ironing</a>
        </li>
    </ul>
    <ul class="actions fit">
        <li>
            <a href="{% url 'carpet' %}" class="button fit">Carpet & Curtains Cleaning</a>
        </li>
    </ul>
    <ul class="actions fit">
        <li>
            <a href="{% url 'toys_cleaning' %}" class="button fit">Soft Toys Cleaning</a>
        </li>
    </ul>
</div>